*{
    margin: 0;
    padding: 0;
}
.main-outer{
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #020B18;
    padding-bottom: 200px;
}
.top-outer{
    width: 100%;
    height: 100px;
    background-color: #0F1722;
}
.top-inner{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0F1722;
}
.top-left-outer{
    width: 100px;
    height: 100%;
    border: inherit;
    display: flex;
    align-items: center;
    padding-left: 0;
}
.top-left-outer span{
    color: #17C185;
    font-size: 23px;
    font-weight: bold;
    font-family: Arial;
}
.top-left-outer span:hover{
    cursor: pointer;
}
.top-middle-outer{
    width: 500px;
    height: 100%;
    border: inherit;
    display: flex;
    align-items: center;
}
.nav-bar-outer{
    width: 100%;
    height: 50%;
    background-color: #020B18;
    border-radius: 100px;
}
.nav-bar-outer ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}
.nav-bar-outer ul li{
    color: white;
    font-family: Arial;
    font-weight: bold;
}
.nav-bar-outer ul li:hover{
    color: #17C185;
    cursor: pointer;
}
.top-right-outer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.ic{
    color: white;
    font-size:40px;
    margin-left: 20px;
}
.ic:hover{
    color: #17C185;
    cursor: pointer;
}
.wrapper{
    width: 100%;
    height: 550px;
    margin: 100px 0;
}
.left-inner{
    width: 50%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-inner{
    width: 50%;
    height: 550px;
}
.badge-outer{
    width: 300px;
    height: 60px;
    border: 1px solid white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.badge-outer span{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.ics{
    color: white;
    font-size:20px;
    padding-right: 10px;
}
.heading-outer{
    width: 100%;
    height: 200px;
    margin-top: 80px;
}
.heading-outer h1{
    color: white;
    font-size: 65px;
    font-family: Arial;
    font-weight: bold;
}
.heading-outer h1 span{
    color: #17C185;
}
.text-outer{
    width: 100%;
    height: 150px;
    border: inherit;
    margin-bottom: 20px;
}
.text-outer span{
    color: #9b9999;
    font-size: 25px;
}
.resume-outer{
    width:200px;
    height: 50px;

}
.resume-outer button{
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background-color: #17C185;
    color: white;
    border: none;
    font-weight: bold;
}
.resume-outer button:hover{
    background-color: #0F1722;
    color: #17C185;
}