*{
    margin: 0;
    padding: 0;
}
.main-outer{
    width: 100%;
    height: 100vh;
    background-color: #020B18;
}
.top-outer{
    width: 100%;
    height: 100px;
    background-color: #0F1722;
}
.top-inner{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0F1722;
}
.top-left-outer{
    width: 100px;
    height: 100%;
    border: inherit;
    display: flex;
    align-items: center;
    padding-left: 0;
}
.top-left-outer span{
    color: #17C185;
    font-size: 23px;
    font-weight: bold;
    font-family: Arial;
}
.top-middle-outer{
    width: 500px;
    height: 100%;
    border: inherit;
    display: flex;
    align-items: center;
}
.nav-bar-outer{
    width: 100%;
    height: 50%;
    background-color: #020B18;
    border-radius: 100px;
}
.nav-bar-outer ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}
.nav-bar-outer ul li{
    color: white;
    font-family: Arial;
    font-weight: bold;
}
.top-right-outer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.ic{
    color: white;
    font-size:40px;
    margin-left: 20px;
}